*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    width: 97vw;
    padding-top: 5rem;
    overflow-x: hidden;
}
.header{
    text-align: center;
    margin-bottom: 1rem;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    user-select: none;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}
.product:hover{
    border: 1px solid blue;
}
.product-head{
    font-size: large;
    text-align: center;
}
.product-category{
    display: flex;
    gap: 1rem;
    color: blue;
}
.product-rating{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.product-price{
    display: flex;
    gap: 1.3rem;
    justify-content: space-evenly;
    padding: 3px 8px;
    background-color: yellow;
    width: 100%;
}
.product-price p{
    font-size: medium;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 5px;
}